<div id="comment_<%= comment.id %>" class="comment">
  <p>
    <%= sanitize comment.body %>
  </p>
 
  <% if logged_in? and comment.authorized?(session[:user_id]) %>
  <span class="edit_link" style="float: right">
  <%= link_to_remote "remove", 
           :url => comment_url( comment.post, comment), 
           :method => :delete,
           :confirm => 'Are you sure?' %>
  </span>
  <% end %>
  <div class="userstamp">-<%= comment.user.login %></div>
</div>

