a:hover   { color: #00FF00; border-bottom: 2px solid yellow; }
a { color: #00FF00; text-decoration: none; padding: 4px; }
a img { border: none; }
body { background-color: #000000; font-size: 16px; font-family: Verdana, Sans-serif; color: white;}
#content { margin-left: auto; margin-right: auto;  width: 600px; }
