/* a:hover   { color: #00FF00; border-bottom: 1px solid yellow; } */
a { color: #99CC00; text-decoration: none;  }
a img { border: 0px;}

body {  margin: 0px; background-color: #444444;  color: #dedede; font-family: sans;
}

h1 { text-align: center;  color: #cccccc; font-size: 55px; font-family: ChunkFiveRoman;
text-shadow: 0px 0px 15px #ddd;
}
h1 a { color: #111111;  font-family: ChunkFiveRoman; }


.ordershit { text-align: center; font-size: 28px; font-family: BIRTHOFAHERORegular;  }
.post_form { margin-top: 25px; margin-bottom: 25px; }
#content { text-align: left; margin-left: auto; margin-right: auto; width: 584px;}	
.post_title { text-align: center; margin-bottom: 22px; margin-top: 12px; font-size: 26px; color: #FFFFFF; text-shadow: 0px 0px 3px #eee; font-family: Verdana, Arial, Helvetica, sans-serif; }
.post_title a { color: #FFFFFF; }
.datestamp a { color: #FFFFFF; }
#notice { font-size: 20px; margin: 40px; }
.userstamp {  }
.userstamp a { color: #FFFFFF }
.datestamp { margin-bottom: 1px; color: #dddddd; font-family: sans-serif; font-size: 14px;}
.post  { border: 2px solid #353535; -moz-border-radius: 10px;
            -khtml-border-radius: 10px;
            -webkit-border-radius: 15px; background-color: #353535; padding: 12px; margin: 12px; width: 566px; font-family: sans-serif; font-size: 14px; line-height: 1.2em;}
.comment { background-color: #4F4F4F; padding: 5px; border: 2px solid #4F4F4F; -moz-border-radius: 10px;
            -khtml-border-radius: 10px;
            -webkit-border-radius: 10px;  margin-bottom: 8px; margin-top: 4px;}
.comments { }
.thumb { float: left;  }
.thumbs { }
.firstimage { margin: 0px; padding: 0px;}
.imagelist { list-style-type: none; }
.post img { margin: 0px; padding: 0px; margin-left: 15px; margin-top: 10px; border: 2px solid #353535; -moz-border-radius: 10px;
            -khtml-border-radius: 10px;
            -webkit-border-radius: 10px; }
.firstimage img { margin-left: 15px; margin-top: 10px; border: 2px solid black; -moz-border-radius: 10px;
            -khtml-border-radius: 10px;
            -webkit-border-radius: 10px; }

.thumbs img { margin-left: 10px; margin-top: 10px; border: 2px solid black; -moz-border-radius: 15px;
            -khtml-border-radius: 15px;
            -webkit-border-radius: 15px; }

.new_image_upload { background-color: #191919; margin: 10px; padding: 10px;}

#header2 { margin: 0px; padding: 10px; width: 100%; background-color: #555555; float: left; }
#header3 { margin: 0px; padding: 10px; width: 100%; background-color: #555555; }
#usernav { z-index: 15; text-align: center; margin-left: auto; margin-right: auto; width: 495px; margin-top: 10px;
 margin-bottom: 0px; padding: 10px;  font-size: 38px; font-family: BIRTHOFAHERORegular, "URW Gothic L", Verdana, Arial, Helvetica, sans-serif;}
#usernav span { margin-top: 10px; text-align: }

form {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 450px;
}

fieldset {  
text-align: left;
margin: 0px;
padding: 5px;
border-style: none;
}



input {
padding: 2px;
font-size: 18px;
}

legend {  
margin-left: 0.5em; 
color: #000000;  
font-size: 18px;
}

fieldset ol {  
padding: 1em 1em 0 1em; 
list-style: none;
}

fieldset li {  
padding-bottom: 1em;
}

form input[type="hidden"] { display: none; }

label {
font-weight: bold;
float: left;  
width: 23em;  
margin-right: 1em;  
/* text-align: right; */
}

fieldset.signup {  
margin-top: -2em;
}

.post_field { width: 410px; padding: 2px; }

/* submit button */
fieldset.submit {  
/* text-align: right; */
float: none;  
width: auto;  

}

fieldset.comment_submit {  
text-align: left;
margin-left: 1em;
float: none;  
width: auto;  

}

.submit input { margin-right: 15px;}
.comment_submit input { margin-right: 15px;}


/* For checkbox subgroups */

fieldset fieldset {  
margin-top: 0em;
padding: 0px;
margin: 4px;
border-style: none;  
background-color: transparent;  
background-image: none;

}
fieldset fieldset legend {  
font-weight: bold;
font-size: 12px;
padding-left: 20px;
}
fieldset fieldset ol {  
padding: 0;
}
fieldset fieldset label {  

float: none;  
width: auto;  
margin-right: auto;
}
fieldset fieldset input {  

}


.pagination {
        font-size: 16px;
	padding: 0px;
	margin-top: 3px;
	margin-left: 12px;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #008800;
	text-decoration: none;
	color: #9c3;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #9c3;
	color: #009900;
	
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #008800;
	font-weight: bold;
	background-color: #171717;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #121212;
	color: #101010;
}
