<%= error_messages_for :post %>


<fieldset><ol>
  <li>Title: (This is optional)</li>
  <li><%= form.text_field :title, :class => "post_field" %></li>
  <li><%= form.text_area :body, :class => "post_field", :cols => 70 %></li>
</ol>
</fieldset>
