<%= error_messages_for :post %>


<fieldset><ol>
  <li>Title: (This is optional)</li>
  <li><%= form.text_field :title, :size => 60 %></li>
  <li><%= form.text_area :body, :rows => 30, :cols => 70 %></li>
</ol>
</fieldset>
