<h2>Edit Post</h2>


<% form_for(:post, :url => post_path(:id => @post), 
                   :html => { :method => :put }) do |form| %>


  <%= render :partial => "form", :locals => { :form => form } %>
  <%= submit_tag "Update", :class => "submit" %> 

<% end %>
