<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 
  <head> 
    <title><%= @title %></title> 
    <% if logged_in? && session[:custom_css] %>
     <link href="/home/<%= session[:user_login] %>/css" media="screen" rel="stylesheet" type="text/css" />
    <% else %>
     <%= stylesheet_link_tag "rawdod" %>
    <% end %>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />
    <%= javascript_include_tag "highslide_options"  %>
    
    <%= javascript_include_tag :defaults %> 
  </head> 
  <body> 
        <h1><%= link_to "rawdod", "/" %></h1>
   <div id="usernav">

         <span style="margin-left: 23px; color: #333333;">        
          <% if logged_in? -%>
            <%= link_to session[:user_login], "/home/" + session[:user_login] %> | <%= link_to 'Post', new_post_path %> | 
 <%= link_to "666", "http://webchat.freenode.net/?nick=#{session[:user_login]}&channels=##666", :style => "color: #FF0000;" %> | 
            <% if User.find(session[:user_id]).unread_message == true %>
             <span style= "background-color: #004400;" id="inboxlink"><%= link_to "Inbox", "/inbox" %></span>
              <%= javascript_tag "Effect.Pulsate('inboxlink',{duration:35,pulses:30});" %>
            <% else %>
             <%= link_to "Inbox", "/inbox" %> 
            <% end %>
          | <%= link_to "Logout", :controller => "user", :action => "logout" %> 
          <% else -%>
            <%= link_to "Sign up", :controller => "user", :action => "signup" %> |
            <%= link_to "Login", :controller => "user", :action => "login" %>
          <% end -%>
        </span>
      </div>
    
      <br clear="both"/>
      <div id="content"> 
        <% if flash[:notice] -%> 
          <div id="notice"><%= flash[:notice] %></div> 
        <% end -%> 
        <%= yield %>
        <br clear="all" />
      </div> 
    <% if ENV["RAILS_ENV"] == "development" %>
      <div style="min-height: 300px;"></div>
      <div id="debug">
        <a href="#" onclick="Element.toggle('params_debug_info');return false">
        params</a> |
        <a href="#" onclick="Element.toggle('session_debug_info');return false">
        session</a> |
        <a href="#" onclick="Element.toggle('env_debug_info');return false">
        env</a> |
        <a href="#" onclick="Element.toggle('request_debug_info');return false">
        request</a>
        <fieldset id="params_debug_info" class="debug_info" style="display: none">
          <legend>params</legend>
          <%= debug(params) %>
        </fieldset>
        <fieldset id="session_debug_info" class="debug_info" style="display: none">
          <legend>session</legend>
          <%= debug(session) %>
        </fieldset>
        <fieldset id="env_debug_info" class="debug_info" style="display: none">
          <legend>env</legend>
          <%= debug(request.env) %>
        </fieldset>
        <fieldset id="request_debug_info" class="debug_info" style="display: none">
          <legend>request</legend>
          <%= debug(request) %>
        </fieldset>
      </div>
    <% end %>

<div style="text-align: center; margin: 15px; padding: 15px;">
<%= link_to "Homepages", "/homepages" %> |
<%= link_to "Space", "http://space.rawdod.com" %> |
<%= link_to "Media", "http://media.rawdod.com" %> |
<%= link_to "Youtube", "http://youtube.com/rawdod" %> |
<%= link_to "666 Chat", "http://666.rawdod.com" %> |

<%= link_to "Store", "http://cafepress.com/officialrawdod" %>
<%= link_to "2", "http://cafepress.com/rawdod2" %>
<%= link_to "3", "http://cafepress.com/rawdod3" %>
<%= link_to "4", "http://cafepress.com/rawdod4" %> |
<%= link_to "Random", "/random" %> |
<%= link_to "Imagez", "/imagez?thumb=true" %>
<% if logged_in? %>
 | 
<%= link_to "Upload Media", "http://space.rawdod.com/uploader.php" %> |
<%= link_to "Seen", "/seen" %><br/>

<% end %>
</div>
<br/>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-254430-1");
pageTracker._setDomainName(".rawdod.com");
pageTracker._trackPageview();
} catch(err) {}</script>


  </body>
</html>
